html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: "Cardo", serif;
	background-color: #F2784B;
	background: linear-gradient(to top right, #FF512F, #F28563, #E73C7E, #23A6D5, #A8DF6F);
	background-size: 400% 400%;
	animation: gradient 35s linear infinite;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.1) 1px 1px;
	line-height: 1.4;
	font-size: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url('assets/cursor.png'), auto;
	perspective: 100px;
}

.floating-matt {
  position: absolute;
  top: -250vh;
  left: -50vw;
  transition: transform 18s linear;
  z-index: -1;
  width: 250px;
}

img.main-matt {
   animation: rotate .5s infinite ease;
   animation-direction: alternate;
}

@keyframes rotate {
   0% {
       transform: rotate(-30deg);
   }
   100% {
       transform: rotate(10deg);
   }
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

main {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	align-self: center;
}

h1 {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 45px;
	color: #FFF;
	margin: 0 0 14px 0;
	font-weight: 600;
	opacity: 0;
	animation: name 1s ease 0.2s;
	animation-fill-mode: forwards;
}

p {
	margin: 0;
	opacity: 0;
	animation: description 1.6s ease 0.8s;
	animation-fill-mode: forwards;
	text-align: center;
}

a {
	transition: all 0.3s;
	color: #FFF;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	opacity: 1;
	border-bottom: 2px solid #FFF;
}

@keyframes name {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes description {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 500px) {
	main {
		text-align: center;
	}
}
